<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J" />
	</settings>
	<environments default="production">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.h2.Driver" />
				<property name="url"
					value="jdbc:h2:./extra-resources/db/proxy-devel;AUTO_SERVER=TRUE;MVCC=true;INIT=RUNSCRIPT FROM './extra-resources/create_h2.sql'\;" />
			</dataSource>
		</environment>
		<environment id="production">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.mariadb.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://127.0.0.1:3306/proxy" />
				<property name="username" value="usernamehere" />
				<property name="password" value="passwordhere" />
			</dataSource>
		</environment>
	</environments>
</configuration>